/***************************************************
----- CONDICIONALES DE MEDIA QUERIES -----
****************************************************/

/* ESCRITORIO */
@media (min-width: 1200px) {
	.main_img {
		width: 48%;
		height: 41em;
	}

	.main_info {
		width: 95%;
	}

	.main_info h3 {
		font-size: 36pt !important;
	}
}


/* ESCRITORIO Y TABLET EN MODO LANDSCAPE (HORIZONTAL) */
@media (min-width: 769px) and (max-width: 1199px) { 
	.main_img {
		width: 70%;
		height: 39em;
		margin-top: 15%;
		margin-bottom: 15%;
	}

	.main_info {
		width: 100%;
	}

	.main_info h3 {
		font-size: 36pt !important;
	}
}


/* TELÉFONO EN LANDSCAPE (HORIZONTAL) A TABLET EN PORTRAIT (VERTICAL) */
@media (min-width: 481px) and (max-width: 768px) { 
	.main_img {
		width: 75%;
		height: 42em;
		margin-bottom: 4%;
		margin-top: 4%;
	}

	.main_info {
		width: 100%;
	}

	.main_info h3 {
		font-size: 30pt !important;
	}
}


/* TELÉFONO EN LANDSCAPE (HORIZONTAL) O MENOR */
@media (max-width: 480px) {
	.main_img {
		width: 60%;
		height: 20.5em;
		float: left;
	}

	.main_info {
		width: 35%;
		float: right;
		margin-top: 15%;
		margin-right: 2%;
	}

	.main_info h3 {
		font-size: 13pt !important;
	}
}